<template name="purchases">
	<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-2">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
		                    <h5>Compras</h5>                    
		                </div>
						<div class="ibox-content">
		                    <div class="table-responsive">
								<table class="table table-striped table-bordered table-hover dataTables-example" >
									<thead>
					                    <tr>
					                    	<th>id</th>
						                    <th>Concepto</th>
						                    <th>Pago</th>
						                    <th>Total compra</th>
						                    <th>Mensualidades</th>
											<th>Deuda pendiente</th>
											<th>Tarjeta de Cr&eacute;dito</th>
											<th>Meses sin intereses</th>				
					                    </tr>
					                </thead>
					                <tbody>


					                {{#each purchases}}	
					                	<tr class="gradeX">
					                		<td>{{_id}}</td>
					                        <td>{{description}}</td>
					                        <td>{{monthPayment}}</td>
					                        <td>{{totalAmount}}</td>
					                        <td>{{numberOfPayments}}</td>
					                        <td>{{remainingDebt}}</td>
					                        <td>{{idCreditCard}}</td>
					                        <td>{{isInterestFree}}</td>
					                    </tr>
					                {{/each}}    
					                </tbody>
								</table>
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
</template>